:root {
  --black: rgb(0, 0, 0);
  --gray1: rgb(51, 51, 51);
  --gray2: rgb(79, 79, 79);
  --gray3: rgb(130, 130, 130);
  --gray4: rgb(189, 189, 189);
  --orange: rgb(242, 153, 74);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--gray1);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 960px;
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}

/* Utilities */
.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.2857142857142858em;
  font-weight: 700;
}

.orange-text {
  color: var(--orange);
}

.gray1-text {
  color: var(--gray1);
}

.gray2-text {
  color: var(--gray2);
}

.gray3-text {
  color: var(--gray3);
}

.gray4-text {
  color: var(--gray4);
}

.extra-margin-top-32 {
  margin-top: 3.2rem;
}

.bold-text {
  font-weight: 700;
}
