:root {
  --black: #000000;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #a9a9a9;
  --gray4: #bdbdbd;
  --orange: #f2994a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.container {
  padding: 0 1em;
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}
