.recipe-source {
  font-size: 0.871428571428571em;
  font-style: italic;
}

.recipe-source a {
  text-decoration: none;
}

.page-footer {
  color: #a9a9a9;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin: 15.5rem 0 2.1rem 0;
}
